body{
    background-color: #EEF9BF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', monospace;

}

.logo{
    height: 63px;
    width: 540px;
    left: 285px;
    top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h1{
    color: #75B79E;
    font-size: 56px;
}
.panel-card{
    width: 882px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}
.card{
    height: 146px;
    width: 117px;
    position: relative;
    margin: 15px;

}
.rotation{
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}
.back-card {
    transform: rotateY(180deg);
  }

  .card:hover .back-card {
    transform: rotateY(0deg);
  }

  .card:hover .front-card {
    transform: rotateY(-180deg);
  }
  .over .front-card {
    transform: rotateY(-180deg);
  }

.over .back-card{
    transform: rotateY(0deg);
}
.back-card img{
    height: 60px;
    width: 60px;
    border-radius: 0px;
    
}

@media (max-width: 935px) {

    body{
        height: 100%;
    }
    body,h1 .card{
        width: 100%;
    }
       
    .logo{ 
        border-radius: undefinedpx;
        width: 100%;
        margin-top: 50px;
    }
    
    .panel-card{
        width: 100%;
        display: flex;
        flex-direction: column;
       
    }

}
.watch-flex{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 60px;
}
.watch{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 53px;
  width: 50px;
  right: 5px;
  border-radius: 0px;
  margin-right: 30px;
  font-size: 36px;
  color: #75B79E;
  
  
}
